{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Maxigram - {{title}}</title>
  {% else %}
  <title>Maxigram</title>
  {% endif %}
</head>

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"> -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

<body>
  {% include "navbar.html" %}

  {% block content %}<h1></h1> {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script> -->
  <script>
    $(function () {
      $("#users").autocomplete({
        source: "/ajax/search",
        select: function (event, ui) { //item selected
          AutoCompleteSelectHandler(event, ui)
        },
        minLength: 2,
      });
    });

    function AutoCompleteSelectHandler(event, ui) {
      var selectedObj = ui.item;
      $('.ui-menu-item').css('position', 'absolute');
    }
    $('#follow').click(function () {
      var user_id;
      var profile_id;
      user_id = $(this).attr("data-user");
      profile_id = $(this).attr("data-profile");
      $.get('/follow', { user_id: user_id, profile_id: profile_id }, function (data) {
        $('.message-section').text(data.message).show();
        setTimeout(function () {
          $(".message-section").fadeOut().empty();
        }, 5000);
      });
    });
  </script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>